// Только БЭМ-блок layout, его элементы и модификаторы
// Импорт файла - в диспетчере стилей

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    flex-shrink: 0;
  }
}
