// NOTE[@nicothin]: приоритетный подход: CSS custom properties

:root {

  // https: //colorscheme.ru/color-converter.html
  --gray-0:                 hsl(0, 0%, 0%);
  --gray-100:               hsl(0, 0%, 10%);
  --gray-200:               hsl(0, 0%, 20%);
  --gray-300:               hsl(0, 0%, 30%);
  --gray-400:               hsl(0, 0%, 40%);
  --gray-500:               hsl(0, 0%, 50%);
  --gray-600:               hsl(0, 0%, 60%);
  --gray-700:               hsl(0, 0%, 70%);
  --gray-800:               hsl(0, 0%, 80%);
  --gray-900:               hsl(0, 0%, 90%);
  --gray-1000:              hsl(0, 0%, 100%);

  --main:                   hsl(208, 98%, 43%);
  --success:                hsl(120, 39%, 54%);
  --danger:                 hsl(2, 64%, 58%);
  --warning:                hsl(35, 84%, 62%);

  --font-family:              system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // Georgia, Times New Roman, Times, serif
  // --font-monospace:           SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  // https: //vasilis.nl/nerd/code/emcalc/
  --font-size-sm:             0.75em;
  --font-size:                1rem;
  --font-size-h1:             2.5em;
  --font-size-h2:             2em;
  --font-size-h3:             1.5em;
  --font-size-h4:             1.125em;
  --font-size-h5:             1em;
  --font-size-h6:             1em;
}
